#map {
    height: 640px;
}

select {
    width: 100%;
    height: 40px;
}
.header {
    overflow: hidden;
    color: white;
    background-color: #262626;
    padding: 5px 10px;
}

.header-child {
    display: inline-block;
}

.messagesDiv {
    background-color: red;
    border-color: white;
    padding: 10px;
    margins: 10px;
}

body {
    font-family: "B612";
    background-color: #1c1b22;
    color: white;
    padding: calc(100vw * 0.01);
}

.flexbox {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.flexchild {
    padding-top: 10px;
    flex: 1;
}

#etaDesc {
    color: red;
}

#etas {
    list-style-type: none;
}

@media (max-width: 1000px) {
    .flexbox {
        flex-direction: column;
    }
}
