#map {
    height: 640px;
}

.header {
    overflow: hidden;
    color: white;
    background-color: #262626;
    padding: 5px 10px;
}

body {
    font-family: "B612";
}

.flexbox {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.flexchild {
    padding-top: 10px;
    flex: 1;
}

@media (max-width: 800px) {
    .flexbox {
        flex-direction: column;
    }
}
